*{
	border-radius: 5px;
	border: none;
}

window {
	font-size: 20px;
	background-color: rgba(50,50,50,0.90);
	color: white;
}

#entry{
	padding: 0.25em;
}

#entry:selected {
	background-color: #bbccdd;
	color: #333333;
}

#text:selected {
	color: #333333;
}

#input{
	backgroud-color: rgba(50,50,50,0.5);
	color: white;
	padding: 0.25em;
}

image{
	margin-left: 0.25em;
	margin-right: 0.25em;
}
