<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/%USERNAME%/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="%USERNAME%" />
			<add key="ClearTextPassword" value="%PKG_TOKEN%" />
		</github>
	</packageSourceCredentials>
</configuration>